<div class="container">
  <form class="needs-validation" (ngSubmit)="onSubmit()" #mealForm="ngForm" novalidate>
    <div class="form-group">
      <label for="name">Nazwa:</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="meal.name" name="name" required>
    </div>
    <div class="form-group">
      <label for="description">Opis:</label>
      <textarea class="form-control" id="description" [(ngModel)]="meal.description" name="description"></textarea>
    </div>
    <div class="form-group">
      <label for="recipe">Przepis:</label>
      <textarea class="form-control" id="recipe" [(ngModel)]="meal.recipe" name="recipe"></textarea>
    </div>
    <div class="form-group">
      <label for="notes">Notatki:</label>
      <textarea class="form-control" id="notes" [(ngModel)]="meal.notes" name="notes"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">{{ isEdit ? 'Zapisz zmiany' : 'Dodaj posiłek' }}</button>
  </form>
</div>
